<div style="text-align:center">
    <h1>
      Welcome to {{ titleMain }} demo !
      <br />
      {{dataRequestTitle}}
    </h1>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div [ngClass]="'peoples_data_holder'">
  <div [ngClass]="'peoples_data_title'">{{charactersListTitle}}</div>
  <div [ngClass]="'peoples_data_list_holder'" #peoples_data_list_holder  *ngIf="listItems?.length > 0">
      <ul>
          <li [ngClass]="['list_item ', item.name]" *ngFor = "let item of listItems">
              <span [ngClass]="'name'">{{item.name}}</span>
              <span [ngClass]="'age'" [ngStyle]="{'color': !item.age? 'inherit': item.age >= 18? 'green': 'red'}" >{{!item.age? 'Unknown': item.age}}</span>
              <button type="button" (click)="deleteListItem(item.id)">Remove</button>
          </li>
        </ul>  
  </div>
  <div [ngClass]="'peoples_data_list_holder'" #peoples_data_list_holder  *ngIf="listItems?.length == 0">
    <div [ngClass]="'peoples_data_list_empty_text'">
      List is Empty       
    </div>
  </div>
</div>
